services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env
    environment:
      - MONGO_URI=mongodb://mongo:27017/smart_healthcare
    depends_on:
      - mongo

  client:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    env_file:
      - ./client/.env
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - server

volumes:
  mongo-data:
